<app-sticker
    *ngFor="let sticker of stickers"
    [data]="sticker">
</app-sticker>

<div class="app-msg">
  <div class="no-stickers center-align" [hidden]="stickers.length || loading">Add your first sticker to start playing</div>
  <div class="loader" [hidden]="!loading">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
</div>

<button
    class="app-add-sticker btn-floating btn-large waves-effect waves-light amber darken-3"
    (click)="addSticker()">
  <i class="material-icons">add</i>
</button>

